language: go

go:
  - 1.9.x
  - tip

before_install:
  - go get -t -v ./...

install:
  - go get gopkg.in/telegram-bot-api.v4

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic


after_success:
  - bash <(curl -s https://codecov.io/bash)